<!--Footer-->
<footer class="page-footer indigo center-on-small-only mt-3">
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2021 Copyright:
      <a href="mailto:douglasmonteiro@icloud.com"> Douglas Monteiro </a>

      <span style="float: right;">
        <i class="fa fa-globe"></i>
        Website:
        <a href="http://www.cooperdev.com.br" target="blank">COOPERDEV</a>
      </span>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
